body {
    margin: 0;
    padding: 0;
}
#warp{
    max-width: 100%;
}
/* suppliers header css */
#top-line {
    padding-top: 20px;
    margin: 0 10px;
}
#nav-back a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}
#nav-back {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
#logo-plus-user{
    display: inline-block;
    width: 49%;
    direction: rtl;
    text-align: right;
}
#logo {
    background: rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}
#logo img {
    position: absolute;
    left: 10px;
    top: 15px;
}
#user {
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: text-bottom;
}
#user-link{
    color:black;
    text-decoration: none;
}
#user-image {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/* image slider */

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
 figure { 
  margin: 0 auto;
 background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; 
  width: 200%;
  max-height: 400px;
  font-size: 0;
  animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 50%;
   height: auto;
  display: inline-block;  
  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption { 
  
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}

