html{
    height: 100%;
    font-size:14px;
    background: -webkit-linear-gradient(to bottom, #EDCFDA 0%, #f6e6ec 100%);
    background: -moz-linear-gradient(to bottom, #EDCFDA 0%, #f6e6ec 100%);
    background: linear-gradient(to bottom, #EDCFDA 0%, #f6e6ec 100%);
    font-family: main-font;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    z-index: 0;
    position: relative;
    height: 100%;
    background-image: url(../images/Website_Hearts_BG.png);
}

/* header css */
.header{
    padding: 25px 0;
    margin:0 10px;
}
.hidden-md-under {
    width: 49%;
    vertical-align: top;
}
.logo{
width:50%;
}
.logo img{
    width: 166px;
    max-width: 100%;
}
#login {
    list-style: none;
    -webkit-padding-start: 0px;
}
#login li:nth-child(1){
    margin: 0 7px;
}
#login li{
    display: inline-block;
    width:70px;
    position: relative;
}

.enter {
    background: white;
    color: #e74b46;
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-image: url("../images/Heart_Red.svg");
    background-position: 84% 50%;
    transition: 0.3s ease 0s;
    background-size: 15%;
}
.enter:hover{
    background:#e74b46;
    color:white;
    background-repeat: no-repeat;
    background-image: url("../images/Heart_white.svg");
    background-position: 84% 50%;
    background-size: 15%;
}
.reg {
    background: #e74b46;
    color: white;
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-image: url("../images/Subscribe_white.svg");
    background-position: 84% 50%;
    transition: 0.3s ease 0s;
    background-size: 15%;
}

.reg:hover{
    background:white;
    color:#e74b46;
    background-position: 84% 50%;
    background-repeat: no-repeat;
    background-size: 15%;
    background-image: url("../images/Subscribe_Red.svg");
}
.ilu{
    z-index: -1;
    position: absolute;
    max-height: 90%;
    right: 0;
    top: 132px;
}
#cake{
    z-index: -1;
    position: absolute;
    width: auto;
    max-height: 90%;
    margin: 0 auto;
    bottom: 7%;
    left: 0;
    right: 0;
}

#maint {
    margin: 160px auto;
    text-align: center;
}
#maint h1{
    direction: rtl;
    font-size:60px;
    font-weight: 400;
}
#maint p{
    font-size: 16px;
    direction: rtl;
}
#maint-text {
    font-size: 14px;
}
/*  popup login css*/
#error-result,#error-result-login{
    display: none;
}
#regCTA {
    width: 245px;
    max-width: 100%;
    height: 40px;
    border: 0;
    background-color: #e74b46;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    outline: 0;
    cursor: pointer;
    transition: 0.2s ease 0s;
    font-family: main-font;
}
#regCTA:hover{
    background-color: white;
    color: #e74b46;
}
#login-popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
    z-index: 6;
    display: none;
}
#login-content{
    padding: 0;
    width: 584px;
    max-width: 90%;
    margin: 0px auto;
    display: none;
    background-color: white;
    border-radius: 7px;
    position: relative;
    top: calc(50% - 250.5px);
}
.bit-pad{
    height: 20px;
}
h2#head {
    background-color: #e74b46;
    color: white;
    border-radius: 7px 7px 0 0;
    padding: 15px;
    position: relative
}
#head img {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.cta {
    display: block;
    width: 60%;
    margin: 25px auto;
    padding: 11px;
    font-size: 18px;
    cursor: pointer;
}
#facebook-login{
    background: #285496;
    color: white;
    transition: 0.3s ease-out 0s;
}
#facebook-login:hover{
    background: #326abe;
}
#google-login{
    background: white;
    border:1px solid #bfbfbf;
    transition: 0.3s ease-out 0s;
}
#google-login:hover{
    background: #e2e0df;
}
#phone-login{
    background-color: #e2e0df;
    transition: 0.3s ease-out 0s;
}
.fa-phone{
    transition: 0.3s ease-out 0s;
}
.cta span{
    width: 80%;
    display: inline-block;
}
.cta img, .cta span {
   
    vertical-align: middle;
}
#or{ 
    font-size: 20px;
    position: relative;
}
#or::before {
    content: '';

    border: 0.5px solid #d8d8d8;
    width: 45%;
    right: 0px;
    display: inline-block;
    bottom: 10px;
    position: absolute;
}
#or::after {
    content: '';

    border: 0.5px solid #d8d8d8;
    width: 45%;
    left: 0;
    display: inline-block;
    bottom: 10px;
    position: absolute;
}
#warp-acc {
    padding-bottom: 35px;
    margin-top: 35px;
    direction: rtl;
    border-top: 1px solid #a8aaad;
}

#have-acc {
    width: 60%;
    display: block;
    margin: 10px auto;
    margin-bottom: 0;
}
#have-acc h2 {
    font-size: 15px;
    color: #404040;
    display: inline-block;
    margin-bottom: 20px;
    width: 64%;
    vertical-align: middle;
}
#have-acc #have-acc-login {
    cursor: pointer;
    border: 1px solid #e74b46;
    background-color: white;
    font-size: 20px;
    outline: 0;
    border-radius: 50px;
    width: 33%;
    vertical-align: middle;
    display: inline-block;
    transition: 0.3s ease-out 0s;
}
#have-acc #have-acc-login:hover {
    color:  #e74b46;
}
#logform{
    width: 300px;
    max-width: 100%;
    padding: 10px;
    position: absolute;
    background: white;
    display: none;
    top: calc(30%);
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
#regform{
    width: 300px;
    max-width: 100%;
    padding: 10px;
    position: absolute;
    background: white;
    display: none;
    top: calc(30%);
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.regtxt{
    display: block;
    margin: 15px auto;
    width: 90%;
    padding: 10px;
    text-align: right;
}
#send-sms{

}
#get-sms{
display: none;
}
.submit-cta{
    display: block;
    background: #e74b46;
    outline: 0;
    border: 0;
    color: white;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
}
.backbutton{
    margin: 10px auto;
    cursor: pointer;
}
.footer a{
    color: #e85651;
}
.footer{
    
        position: absolute;
        bottom: 30px;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
    
}
@media (max-width: 768px){
    #maint {
        margin: 118px auto;
        text-align: center;
    }
    .logo {
        width:100%;
        text-align: center;
        display: block;
    }
    .select-lang {
        z-index: 2;
        text-align: right;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .hidden-md-under{
        display: none;
    }
    .ilu{
        position: absolute;
        max-height: 90%;
        width: 80%;
        top: 81px;
    }
    #cake{
        z-index: -1;
        position: absolute;
        width: 50%;
        max-height: 90%;
        margin: 0 auto;
        bottom: 5%;
        left: 0;
        right: auto;
    }
    #maint h1{
        font-size:35px;
        font-weight: 400;
    }
    .cta{
        width: 80%;
    }
    #have-acc {
        width: 70%;
        display: block;
        margin: 0 auto;
        margin-bottom: 0;
    }
    #have-acc h2{
        width: 85%;
    }
    #have-acc #have-acc-login {
        width: 60%;
    }

}
@media (min-width: 768px){
    .hidden-md-up{
        display: none;
    }
}